.circle-button {
  appearance: none;
  border: none;
  border-radius: 50%;
  padding: 2px;
  height: 12px;
  width: 12px;
  outline: none;
  font-size: 8px;
  line-height: 12px;
  color: #FFFFFF00;
  font-weight: lighter;
  transform: translate(0, -2px);
  transition: .3s;
  cursor: pointer;

  &:hover {
    color: #FFF;
  }

  &::after {
    display: block;
    margin-top: -1px;
  }

  &.danger {
    background-color: var(--color-danger);

    &:hover {
      background-color: var(--color-danger-lighter);
    }
  }

  &.success {
    background-color: var(--color-success);

    &:hover {
      color: #222;
      background-color: var(--color-success-lighter);
    }

    &::after {
      transform: scale(1.6);
    }
  }

  &.close::after {
    content: 'X';
  }

  &.plus::after {
    content: '+';
  }

  &.sub::after {
    content: '-';
  }
}

button.md {
  flex: 0 0 auto;
  overflow: visible;
  font-size: 0.875rem;
  text-align: center;
  padding: 6px 16px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
  border: none;
  position: relative;
  align-items: center;
  user-select: none;
  display: inline-flex;
  outline: 0;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 4px;

  i {
    pointer-events: none;
    font-size: inherit;
  }

  &.big {
    font-size: 1.5rem;
    padding: 12px;
  }

  &.small {
    padding: 4px;
    font-size: 1rem;
  }

  &.mid {
    padding: 0.3rem;
    font-size: 1.4rem;
  }

  &:hover {
    background-color: var(--color-hover-background);
  }
}

button.md.circle {
  color: #FFF;
  border-radius: 50%;
}

button.md .wave {
  position: absolute;
  background-color: var(--color-primary);
  opacity: .2;
  border-radius: 50%;
  height: 0;
  width: 0;
  transform: translate(-50%, -50%);
}

button.md.primary {
  background-color: var(--color-primary);

  .wave {
    background-color: #FFF !important;
  }
}

button.md.secondary {
  color: #000;
  background-color: var(--color-secondary);

  .wave {
    background-color: #FFF !important;
  }
}

button.md.outline {
  color: var(--color-primary);
  border: 1px solid var(--color-primary-opacity);
  min-width: 40px;

  &:hover {
    border-color: var(--color-primary);
  }
}

.md.buttons-group {
  display: inline-flex;
  border-radius: 4px;

  :not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  :not(:first-child) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

