<eim-window title="Pattern Window" id="pattern-window">
  <div class="container">
    <ol class="instruments elevation-5">
      <div class="keyboard" style="display: none"><eim-keyboard></eim-keyboard></div>
    </ol>
    <div class="blocks">
      <ul class="patterns">
        <svg width="100%" height="100%">
          <rect fill="url(#editor-grid)" x="0" y="0" width="2496000" height="3240" />
        </svg>
      </ul>
    </div>
  </div>
  <div class="scroll-bar" draggable="true" data-disable-x="true" data-limit-y="0" style="display:none"></div>
</eim-window>
