<header class="elevation-5">
  <div class="md buttons-group">
    <button class="md outline">C <sub>minor</sub></button>
    <button class="md outline">140 <sub>bpm</sub></button>
    <button class="md outline">4 / 4</button>
  </div>
  <div class="md buttons-group center">
    <button class="md outline">00:05:00</button>
    <button class="md outline">全曲</button>
    <button class="md outline"><span class="material-icons">play_arrow</span></button>
    <button class="md outline"><span class="material-icons">stop</span></button>
  </div>
  <div></div>
</header>
