.eim-keyboard {
  transform-origin: top;
  --white-height: 42px;
  --black-height: 24px;
  .w {
    height: var(--white-height);
    width: 30px;
    background-color: var(--keyboard-white-color);
  }
  .b {
    width: 16px;
    height: var(--black-height);
    float: left;
    margin-top: calc(var(--white-height) / -2);
    background-color: var(--keyboard-black-color);
  }

  & > div {
    border-bottom: 1px solid #c8c8c8;
  }

  & > div div:last-child {
    margin-top: -1px;
  }

  .divider {
    margin-top: -1px;
    border-bottom: 1px solid #d6d6d6;
  }
}
