<template id="template-window" class="elevation-7">
  <div class="title" draggable="true" data-drag-parent="true">
    <span></span> <span class="buttons"><button class="circle-button danger close"></button></span>
  </div>
  <div class="body"></div>
</template>
