<div class="md fab-buttons">
  <button class="md circle mid secondary elevation-8">
    <i class="material-icons">straighten</i>
  </button>
  <button class="md circle primary elevation-8">
    <i class="material-icons">add</i>
  </button>
</div>
