<div class="md fab-buttons">
  <button class="md circle mid secondary elevation-8" id="global-add-instrument-button">
    <i class="material-icons">straighten</i>
  </button>
  <button class="md circle primary big elevation-8">
    <i class="material-icons">add</i>
  </button>
</div>
